* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button, input[type="submit"] {
    cursor: pointer;
}

.container {
    margin: 15px 100px 0;
}

.back {
    display: block;

    margin: 10px 0;

    color: red;
    font-size: 18px;

    text-align: center;
    border: 1px solid gray;
}

.info {
    margin: 10px 0;
    text-align: justify;
}

.likeBtn {
    width: 80px;
    height: 35px;

    color: #fff;
    font-size: 18px;

    background-color: yellowgreen;
    border-radius: 4px;
    border: none;
}

.banner {
    display: block;

    width: 190px;
    height: 100px;

    margin: 30px auto 0;
}

.banner img {
    width: 100%;
    height: 100%;
}

.redirectLabel {
    display: block;
    margin-bottom: 20px;

    font-size: 18px;

    border: 1px solid pink;
    padding: 10px 5px;
    text-align: center;
}

.redirectLabel:last-child {
    margin-bottom: 0;

    font-size: 24px;

    color: goldenrod;
}

.result {
    font-size: 18px;
}

.result .caption {
    color: green;
}

.result .separator {
    font-weight: 550;
    color: red;
}